<div style="margin-top:10px; line-height:1.5;">

  <p id="award-a1" style="margin-bottom:10px;">
    <strong>[A1]</strong> <span style="font-weight:600;">(Provincial Level)</span> 
    <strong><a href="https://jwc.cczu.edu.cn/2024/1026/c16533a375241/page.htm" target="_blank">Jiangsu Provincial Excellent Undergraduate Thesis (or Design)</a></strong>
    <span style="float:right; font-weight:500;">Oct 2024</span><br>
    <em style="color:#666;">Jiangsu Provincial Department of Education</em>
  </p> 
  
</div>
